{% extends 'baes.html' %}
{% block title %} | магазин{% endblock %}
{% block content %}

<div class="my-content container p-5 my-5 rounded border border-warning">
    <h2 class="text-center">Кофе очень важен</h2>
    <hr>
    <p>Кофе может укрепить вашу ДНК</p>
    <p>Кофеин стимулирует вашу нервную систему, посылая сигнал жировым клеткам разрушать телесный жир.</p>
    <p>Кофе, похоже, защищает от двух видов рака: рака печени и колоректального рака.</p>
    <p>Кофе может помочь снизить риск диабета.</p>
    <p>Кофе может помочь восстановить повреждения печени, вызванные алкоголем.</p>
    <p>Кофе может уменьшить риск болезни Паркинсона.</p>
    <p>Кофе может сделать физическую активность более легкой.</p>
    <p>Кофе может помочь уменьшить риск заболеваний пищеварительной системы.</p>
    <p>Кофе может уменьшить риск рассеянного склероза.</p>
    <p>Кофе может помочь снизить риск базальноклеточной карциномы.</p>
    <p>Кофе может помочь защитить от сердечной недостаточности.</p>
    <p>Кофе может помочь снизить риск болезни Альцгеймера.</p>
    <p>Кофе может помочь уменьшить мышечную боль после тренировки.</p>
    <p>Кофе дает вам возможность сделать перерыв на работе.</p>
    <p>Кофе помогает вам получать множество питательных веществ и антиоксидантов.</p>
    <p>Кофеин дает краткосрочный заряд памяти.</p>
</div>
{% endblock %}
